<form method="post" action="/registerSubmit">
    <h2>Sign Up</h2>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname">
    <br>
    <br>

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname">
    <br>
    <br>

    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <br>
    <br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <br>

    <label for="dateofbirth">Date of Birth</label>
    <input type="date" name="dateofbirth" id="dateofbirth">
    <br>
    <br>

    <label for="gender">Gender</label>
    <select id="gender" name="gender">
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="female">transgender</option>
    </select>
    <br>
    <br>

    <button id="signup"type="submit">Sign up</button>
</form>
{{#if error}}
<p>{{error}}</p>
{{/if}}
