<div class="container-fluid">
    <div class="row">
        {{> profilenav}}

        <div class="col-10">
            <div class="container">
                {{{id}}}
            </div>
        </div>
    </div>
</div>
<script src="/public/js/addactivity.js"></script>